[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Giteshkumar07
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Giteshkumar07
	label-Verified = -1..+1 group user/Giteshkumar07
	push = group user/Giteshkumar07
	read = group user/Giteshkumar07
	rebase = group user/Giteshkumar07
	removeReviewer = group user/Giteshkumar07
	submit = group user/Giteshkumar07
[access "refs/heads/*"]
	create = group user/Giteshkumar07
	push = +force group user/Giteshkumar07
	pushMerge = group user/Giteshkumar07
	read = group user/Giteshkumar07
[access "refs/tags/*"]
	push = group user/Giteshkumar07
	push = +force group user/Giteshkumar07
